<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="FirstInteger" value="4"/>
    <add key ="PrintForFirstInteger" value="Fizz"/>
    <add key="SecondInteger" value="7"/>
    <add key ="PrintForSecondInteger" value="Buzz"/>

  </appSettings>
</configuration>
